<h1 align="center">User Profile</h1>
<div align="center">
        <img class="mx-auto" src="../../assets/avatar-default-icon.png" width="120">
</div>
<table class="table table-striped">
    <tbody>
        <tr>
            <th scope="row">CIN:</th>
            <td>{{user.cin}}</td>
        </tr>
        <tr>
            <th scope="row">E-mail:</th>
            <td>{{user.email}}</td>
        </tr>
        <tr>
            <th scope="row">Name:</th>
            <td>{{user.name}}</td>
        </tr>
        <tr>
            <th scope="row">User Type:</th>
            <td>{{user.type}}</td>
        </tr>
    </tbody>
</table>